extends main

block content
    .calendarBig
        .calendarTop
            .calendarYearMonth=monthToday
        .calendarBottom
            ul.more__btn-list
                li.more__btn
                    span.more__btn-title 월
                    .dateCircle
                        a(href="/calendar/"+`${-4}`).a 16
                li.more__btn
                    span.more__btn-title 화
                    .dateCircle
                        a(href="/calendar/"+`${-3}`).a 17
                li.more__btn
                    span.more__btn-title 수
                    .dateCircle
                        a(href="/calendar/"+`${-2}`).a 18
                li.more__btn
                    span.more__btn-title 목
                    .dateCircle
                        a(href="/calendar/"+`${-1}`).a 19
                li.more__btn
                    span.more__btn-title 금
                    .dateCircle
                        a(href="/calendar/"+`${0}`).a 20
                li.more__btn
                    span.more__btn-title 토
                    .dateCircle
                        a(href="/calendar/"+`${1}`).a 21
                li.more__btn
                    span.more__btn-title 일
                    .dateCircle
                        a(href="/calendar/"+`${2}`).a 22
    
    .dateBox=speciDate

    .specification
        if !schedules
            p 일정 없음
    .alarmList
        if (schedules!=null)
            for schedule in schedules
                li="알람 이름: " + schedule.scheName
                - time = schedule.scheHour + " : " + schedule.scheMin
                li="알람 시간: " + time
                li="알람 일자: " + schedule.scheDate
                if(schedule.intake===true)
                    li="복용: " + "green"
                else
                    li="미복용: " + "grey"
                a(href="/calendar/"+`${userDate}`+"/"+`${schedule.scheID}`+"") 상세 정보