extends main

block content
    .calendarBig
        .calendarTop
            .calendarYearMonth=monthToday
        .calendarBottom
            .dateCircleFirst
                .date
                    a(href="/calendar/"+`${-2}`).a #{date-2}
            .dateCircle
                .date
                    a(href="/calendar/"+`${-1}`).a #{date-1}
            .dateCircle
                .date
                    a(href="/calendar/"+`${-1}`).a #{date-1}
            .dateCircle
                .date
                    a(href="/calendar/"+`${0}`).a #{date}
            .dateCircle
                .date
                    a(href="/calendar/"+`${1}`).a #{date+1}
            .dateCircleLast
                .date
                    a(href="/calendar/"+`${2}`).a #{date+2}
    
    .dateBox=speciDate

    .specification
        if !schedules
            p 일정없음
    .alarmList
        if (schedules!=null)
            for schedule in schedules
                li="알람 이름: " + schedule.scheName
                - time = schedule.scheHour + " : " + schedule.scheMin
                li="알람 시간: " + time
                li="알람 일자: " + schedule.scheDate
                if(schedule.intake===true)
                    li="복용: " + "green"
                else
                    li="미복용: " + "grey"
                a(href="/calendar/"+`${userDate}`+"/"+`${schedule.scheID}`+"") 상세 정보